<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pside.android.example.mostpowerfulorminandroid">

    <application android:name="com.activeandroid.app.Application">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="ActiveAndroid.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
    </application>
</manifest>
