<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="net.pside.android.example.mostpowerfulorminandroid"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name=".MyApp">
        <!-- Updating this will cause a database upgrade -->
        <meta-data
            android:name="Rush_db_version"
            android:value="1" />

        <!-- Database name -->
        <meta-data
            android:name="Rush_db_name"
            android:value="rush.db" />

        <!-- Setting this to true will cause a migration to happen every launch,
        this is very handy during development although could cause data loss -->
        <meta-data
            android:name="Rush_debug"
            android:value="true" />

        <!-- Setting this to true mean that tables will only be created of classes that
        extend RushObject and are annotated with @RushTableAnnotation -->
        <meta-data
            android:name="Rush_requires_table_annotation"
            android:value="false" />

        <!-- Turning on logging can be done by settings this value to true -->
        <meta-data
            android:name="Rush_log"
            android:value="false" />
    </application>
</manifest>
